html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('assets/fonts/RobotoCondensed-Regular.woff2') format('woff2');
    src: url('assets/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.container {
    min-height: 62vh;
    height: fit-content;
    width: 62vw; 
    background-color:#dfc2b8;;
    border-radius: 25px;
    margin:5vh auto;
    text-align: center;
    padding-top: 5vh;
    font-family: 'RobotoCondensed-Regular';
}

.container {
    animation-duration: 2s;
    animation-name: popup;
}

@keyframes popup {
    from{
        opacity: 0;
    }
    to {
opacity: 1;
    }
}

h1 {
color:#dfc2b8;;
text-align: center;
font-family: 'RobotoCondensed-Regular';
font-size: 40px;
margin-top: 40px;
}

.tasks__container {
    display: flex;
    flex-direction: column;
    min-height: 62vh;
    height: fit-content;
}

.tasks__input{
    height: 50px;
    width: 62%;
    background-color: white;
    border-radius: 25px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.tasks__input input{
    width: 62%;
    border:none;
    height: 100%;
    padding: 0 1vw;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline:none;
    font-size: 4vmin;
    font-family: 'RobotoCondensed-Regular';
    font-size: 20px;
}

.tasks__input input::placeholder{
    font-size: 2vmin;
}

.tasks__input button{
    width: 30%;
    border: none;
    height: 100%;
    padding: 0 1vw;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 20px;
    font-family: 'RobotoCondensed-Regular';
}

.tasks__input button:active{
    background-color:#dfc2b8;;
}

/* styles for tasks */

.tasks__inner {
    max-height: calc(62vh - 100px);
    overflow-y: auto;
    width: 70%;
    margin: 0 auto;
    padding-left: 12px;
}

.tasks__inner::-webkit-scrollbar{
    background-color: #dfc2b8;
}

.tasks__inner::-webkit-scrollbar-thumb{
    background-color: #ecdfda;
    border-radius: 25px;
}


.tasks-list__item {
    height: 50px;
    width: 90%;
    background-color: white;
    border-radius: 25px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task__description{
width: 62%;
height: 100%;
padding: 0 2vw;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
font-size: 20px;
font-family: 'RobotoCondensed-Regular';
hyphens:auto;
word-break: break-all;
padding-top: 27px;
text-align: left;

}

.task__btn-box {
        width: 30%;
        height: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: #EFEFEF;
        display: flex;
        justify-content: space-between;
}

.task__complete{
    margin: 0;
    transform: scale(2.9);
    opacity:0.9;
    cursor:pointer;
    margin-top: 18px;
    margin-left: 21px;
}

.task__btn-box button {
width: 100%;
border: none;
height: 100%;
padding: 0 1vw;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
font-family: 'RobotoCondensed-Regular';
font-size: 20px;
}

.task__btn-box button:active{
    background-color:#dfc2b8;
}

/* styles for checked tasks */

.tasks-list__item.checked {
    opacity: 70%;
}

/* styles for checkbox */

.checkbox-other {
	display: block;
	margin: 0 0 10px 0;
	line-height: 22px;  
}
.checkbox-other input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 14px 0 0 13px;
    padding: 0;
    vertical-align: top;
    outline: none;
    transition: background 0.3s ease;
    background: url(assets/checkbox_1.svg) 0 0 no-repeat;
    cursor: pointer;
    background-size: cover;
}
 
/* Checked */
.checkbox-other input[type=checkbox]:checked {
	background-image: url(assets/checkbox.svg);
    background-size: cover;
}
 
/* Focus */
.focused input[type=checkbox] {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover */
.checkbox-other input[type=checkbox]:hover {
	filter: brightness(110%);
}
 
/* Active */
.checkbox-other input[type=checkbox]:active {
	filter: brightness(80%);
}
 
/* Disabled */
.checkbox-other input[type=checkbox]:disabled {
	color: #666;
	cursor: default;
}
.checkbox-other input[type=checkbox]:disabled {
	filter: grayscale(100%);
	opacity: 0.6;
}

/* styles for delite tasks */

.delition {
    animation-duration: 0.5s;
    animation-name: delOpacity;
}

@keyframes delOpacity {
    from{
        opacity: 1;
    }
    to {
        opacity: 0; 
    }
}
